---
import IpAddress from "../components/IpAddress.astro";
import RenderedAt from "../components/RenderedAt.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Disabled prerender">
  <h1>Astro Hybrid rendering example</h1>
  <h2>Disabled prerendering</h2>
	<a href="/">Enable prerender</a>
  <RenderedAt />
  <IpAddress />
</Layout>